.advantage
    position: relative
    height: 1052px
    background: url('../img/advantage-bg.png') no-repeat 50% 100%
    overflow: hidden
    background-size: cover
    padding-top: 130px
    &__inner
        display: flex
        flex-direction: column
        align-items: flex-start
    &__title
        width: 870px
    &__subtitle
        margin-top: 15px
        font-size: 18px
        font-weight: 400
    &__items
        margin-top: 60px
        display: flex
        flex-wrap: wrap
        width: 670px
    &__item
        margin-bottom: 30px
        width: 50%
        display: flex
        align-items: flex-start
        justify-content: flex-start
    &__img
        display: flex
        width: 125px
        height: 135px
        justify-content: flex-end
        align-items: flex-end
        &_4
            padding-right: 5px
    &__text
        margin-left: 10px
        margin-top: 60px
        width: 180px
        font-size: 18px
        font-weight: 400
        line-height: 24px
    &__buttons
        margin-top: 50px
        position: relative
    &__btn
        width: 288px
    &__desc
        position: absolute
        right: -331px
        top: 11px
        width: 232px
        font-size: 13px
        font-weight: 400
        line-height: 21px
        &::before
            position: absolute
            content: ''
            width: 44px
            height: 11px
            left: -59px
            top: -4px
            background: url('../img/desc-2.png') no-repeat 50% 50%
    &__academy
        position: absolute
        width: 782px
        height: 83px
        bottom: 5px
        left: 50%
        margin-left: -391px
        background: url('../img/academy.png') no-repeat 50% 50%
        background-size: contain
        z-index: 10
    &__founder
        position: absolute
        left: 50%
        margin-left: -960px
        top: 175px
        width: 1920px
        height: 983px
        z-index: -1
        &-img
            width: 1920px
            height: 983px
            background: url('../img/founder-2.png') no-repeat 50% 50%
            background-size: contain
        &-info
            position: absolute
            width: 185px
            height: 80px
            top: 70px
            right: 690px
            text-align: center
        &-name
            font-size: 20px
            line-height: 21px
            font-weight: 600
        &-text
            margin-top: 5px
            font-size: 13px
            line-height: 20px
            letter-spacing: 0.39px  
@media (max-width: 1279px)
    .advantage
        &__founder
            margin-left: -894px
            top: 328px
            &-img
                height: 780px
            &-info
                top: -36px
                right: 662px
@media (max-width: 1023px)
    .advantage
        &__founder
            margin-left: -934px
            top: 485px
            &-img
                height: 580px
            &-info
                top: 54px
                right: 788px
            &-name
                font-size: 16px
                line-height: 16px
            &-text
                font-size: 12px
        &__buttons
            display: flex
            flex-direction: column
        &__desc
            margin-top: 35px
            position: relative
            right: auto
            margin-left: 48px
            top: auto
            letter-spacing: 0px
            &::before
                width: 17px
                height: 44px
                left: -30px
                top: -23px
                background: url('../img/desc-1.png') no-repeat 50% 50%
        &__academy
            width: 760px
            margin-left: -380px
@media (max-width: 767px)
    .advantage
        padding: 77px 0 130px
        height: auto
        background: url('../img/advant-bg-mobile.png') no-repeat 50% 0
        background-size: cover
        &__title
            width: auto
        &__subtitle
            font-size: 15px
            line-height: 23px
            letter-spacing: 0.45px
        &__items
            margin-top: 483px
            flex-direction: column
        &__item
            width: 100%
            &:nth-child
                margin-bottom: 0
        &__img
            padding-right: 10px
            &_1
                padding-right: 10px
            &_2
                padding-right: 0  
        &__text
            font-size: 17px
            line-height: 22.27px
            margin-left: 0
        &__buttons
            margin-top: 4px
        &__btn
            width: 248px
        &__founder
            margin-left: 0
            width: 1474px
            height: 731px
            left: -817px
            top: 348px
            &-img
                width: 1544px
                height: 578px
                background-size: contain
            &-info
                right: 480px
                top: -49px
            &-name
                font-size: 16px
                line-height: 16px
            &-text
                font-size: 12px
        &__academy
            width: 335px
            height: 36px
            margin-left: -168px
