.skills
    padding-top: 13px
    padding-bottom: 96px
    &__inner
        display: flex
        align-items: center
        flex-direction: column
    &__items
        margin-top: 70px
        display: flex
        position: relative
        flex-direction: column
        justify-content: flex-end
        align-items: center
        width: 1170px
        height: 760px
    &__woman
        position: relative
        z-index: 10
        width: 652px
        height: 652px
        background: url('../img/skills-woman.png') no-repeat 50% 50%
        background-size: contain
    &__item
        
        position: absolute
        display: flex
        align-items: center
        &_1
            top: -7px
            left: 389px
        &_2
            top: 138px
            left: 804px
        &_3
            top: 327px
            left: 908px
        &_4
            top: 535px
            left: 817px
        &_5
            top: 503px
            left: -5px
        &_6
            top: 313px
            left: -27px
            .skills__info
                width: 190px
        &_7
            top: 121px
            left: 9px
            .skills__info
                width: 190px
    &__info
        margin-left: 10px
        width: 222px
    &__name
        font-weight: 600    
    &__buttons
        margin-top: -23px
        position: relative
        z-index: 10
    &__btn
        width: 288px
    &__desc
        // font-family: 'SF Pro Display'
        position: absolute
        right: -331px
        top: 12px
        width: 232px
        font-size: 13px
        font-weight: inherit
        line-height: 21px
        &::before
            position: absolute
            content: ''
            width: 44px
            height: 11px
            left: -59px
            top: 9px
            background: url('../img/desc-2.png') no-repeat 50% 50%
<<<<<<< HEAD
    &__bird
        position: absolute
        top: -64px
        right: -156px
        width: 210px
        height: 254px
        background: url('../img/about-bird.png') no-repeat 50% 50%
        background-size: contain

=======
>>>>>>> c05adb9... Full
@media (max-width: 1279px)
    .skills
        &__info
            font-size: 15px
<<<<<<< HEAD
            font-weight: inherit
=======
            font-weight: 400
>>>>>>> c05adb9... Full
            line-height: 23px
            margin-left: 0
            width: 181px
            margin-top: -15px
            text-align: center
        &__item
            flex-direction: column
            margin-bottom: 0
            &_1
                top: -47px
                left: 524px
            &_2
                top: 77px
                left: 804px
            &_3
                top: 320px
                left: 879px
            &_4
                top: 535px
                left: 805px
            &_5
                top: 493px
                left: 195px
            &_6
                top: 263px
                left: 123px
            &_7
                top: 35px
                left: 209px
        &__img
            width: 100%
@media (max-width: 1023px)
    .skills
        &__items
            flex-direction: row
            justify-content: center
            align-items: baseline
            height: auto
            flex-wrap: wrap
            margin-top: 20px
            width: 100%
        &__item
            width: 50%
            position: static
            margin-bottom: 30px
        &__img
            width: auto
        &__woman
            margin-top: 20px
            width: 100%
            order: 2
        &__buttons
            display: flex
            flex-direction: column
        &__desc
            margin-top: 40px
            position: relative
            top: auto
            right: -25px
            letter-spacing: 0px
            &::before
                width: 17px
                height: 44px
                left: -30px
                top: -23px
                background: url('../img/desc-1.png') no-repeat 50% 50%
<<<<<<< HEAD
        &__bird
            height: 150px
            top: -17px
            right: -175px
=======
>>>>>>> c05adb9... Full
@media (max-width: 767px)
    .skills
        padding-top: 5px
        &__title
            text-align: center
        &__items
            flex-wrap: nowrap
            align-items: center
            flex-direction: column
            justify-content: flex-start
            height: auto
            margin-top: 40px
            width: 100%
        &__item
            width: auto
            position: static
            flex-direction: column
            margin-bottom: 0
            &_5
                .skills__info
                    margin-top: -46px
            &:last-child
                margin-bottom: 0
        &__img
            width: 100%
        &__woman
            margin-top: 20px
            width: 335px
            height: 335px
            order: 2
        &__info
            text-align: left
            
        &__buttons
            display: flex
            flex-direction: column
        &__btn
            width: 248px
        &__desc
            margin-top: 40px
            position: relative
            top: auto
            right: -25px
            letter-spacing: 0px
            &::before
                width: 17px
                height: 44px
                left: -30px
                top: -23px
                background: url('../img/desc-1.png') no-repeat 50% 50%
        &__bird
            display: none