.tariff
    padding-top: 160px
    position: relative
    height: 1203px
    background: url('../img/tariff-bg.png') no-repeat 50% 100%
    background-size: cover
    &::before
        position: absolute
        content: ''
        width: 1920px
        height: 1062px
        left: 50%   
        margin-left: -960px
        top: -563px
        background: url('../img/tariff-cloud.png') no-repeat 50% 50%
    &__academy
        position: absolute
        width: 782px
        height: 83px
        top: 45px
        left: 50%
        margin-left: -391px
        background: url('../img/academy.png') no-repeat 50% 50%
        z-index: 10
        background-size: contain
    &__inner
        position: relative
        display: flex
        flex-direction: column
        align-items: center
    &__items
        margin-top: 50px
        display: flex
        justify-content: space-between
        width: 100%
    &__item
        display: flex
        flex-direction: column
        align-items: center
        width: 382px
        height: 854px
        padding: 50px 45px 37px
        border-radius: 20px
        background-color: #f7f7fb
    &__name
        padding-left: 5px
        font-family: 'Futura PT Demi'
        align-self: flex-start
        font-size: 30px
        font-weight: 400
        line-height: 30px
        letter-spacing: -0.15px
    &__options
        margin-top: 27px
        width: 305px
        height: 425px
        display: flex
        flex-direction: column
        li 
            padding-left: 45px
            margin-bottom: 21px
            position: relative
            font-size: 16px
            font-weight: inherit
            line-height: 26px
            letter-spacing: 0.48px
            &::before
                position: absolute
                content: ''
                width: 27px
                height: 32px
                background: url('../img/lightning-mini.png') no-repeat 50% 50%
                top: 0
                left: 0
            &:last-child
                margin-bottom: 0

    &__more
        display: block
        color: #565656
        font-size: 15px
        line-height: 20px
        text-decoration: none
        border-bottom: 1px dashed #89898a
    &__price
        position: relative
        margin-top: 12px
        color: #1b1a1a
        font-family: 'Futura PT Demi'
        font-size: 25px
        font-weight: 400
        line-height: 25px
        letter-spacing: -0.13px
        &_old
            color: #1b1a1a
            margin-top: 35px
            font-family: "Gotham Pro"
            font-size: 16px
            font-weight: inherit
            line-height: 16px
            letter-spacing: 0.48px 
            &::after
                position: absolute
                content: ''
                display: block
                width: 58px
                height: 1px
                top: 7px
                left: 0
                background: #060606
                transform: rotate(10deg)
    &__btn
        margin-top: 25px
        width: 209px
        height: 68px
    &__left
        margin-top: auto
        text-align: center
        width: 208px
        font-size: 16px
        font-weight: inherit
        line-height: 26px
        span 
            display: inline-block
            border-radius: 4px
            background-color: #e1e1eb
            line-height: 32px
            padding: 0 10px
            font-size: 20px
            font-weight: 700
            letter-spacing: 0.6px
@media (max-width: 1279px)
    .tariff
        height: auto
        &__items
            margin-top: 30px
            justify-content: center
            flex-wrap: wrap
        &__item
            margin-bottom: 48px
            margin-left: auto
            margin-right: auto
            height: auto
        &__options
            height: auto
        &__academy
            width: 760px
            margin-left: -380px
        &__more
            margin-top: 36px
        &__left
            margin-top: 26px
@media (max-width: 1023px)
    .tariff
        &__items
            justify-content: flex-start
            flex-direction: column
            align-items: center
            flex-wrap: nowrap
        &__item
            margin-bottom: 25px
@media (max-width: 767px)
    .tariff
        height: auto
        padding: 60px 0
        background: url('../img/tariff-bg-mobile.png') no-repeat 50% 0
        background-size: cover
        &::before
            display: none
        &__academy
            width: 335px
            height: 36px
            margin-left: -168px
            top: 7px
        &__title
            text-align: center
        &__items
            margin-top: 30px
            flex-direction: column
            align-items: center
        &__item
            margin-right: 0
            margin-left: 0
            margin-bottom: 25px
            width: 320px
            height: auto
            padding: 40px 28px 48px 22px
        &__name
            font-size: 25px
            line-height: 25px
            letter-spacing: -0.15px 
        &__options
            margin-top: 21px
            margin-left: 10px
            width: 280px
            height: auto
            li 
                padding-left: 33px
                margin-bottom: 16px 
                font-size: 15px
                line-height: 23px
                letter-spacing: 0.53px 
                &::before
                    width: 23px
                    height: 27px
        &__more
            margin-top: 36px
            text-align: center 
            font-size: 13px
            line-height: 13px
        &__price
            font-size: 20px
            line-height: 20px
            &_old
                margin-top: 39px
                font-size: 13px
                line-height: 13px
        &__btn
            margin-top: 15px
            width: 178px
            height: 58px
        &__left
            margin-top: 26px
            width: 180px
            font-size: 14px
            line-height: 23px
            span 
                font-size: 18px
                line-height: 27px