.type
    padding: 90px 0
    &__inner
        
        display: flex
        flex-direction: column
        align-items: center
    &__title
        width: 580px
        align-items: center
    &__items
        width: 100%
        margin-top: 80px
        display: flex
        align-items: flex-start
        justify-content: space-between
    &__item
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 650px
        width: 320px
        &:nth-child(2)
            margin-top: 39px
    &__img
        position: relative
        &_1
            img 
                left: -140px
        &_2
            img 
                left: -56px
        &_3
            img 
                right: -50px
        img 
            position: relative
    &__info
        padding-left: 55px
        position: relative
    &__number
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        top: 0
        left: 0
        width: 38px
        height: 38px
        border-radius: 50%
        background-image: linear-gradient(14deg, #fcb929 0%, #fcb929 17%, #fbe69d 100%)
        box-shadow: 2px 2px 0 #eeae23, 0 0 9px rgba(207, 155, 42, 0.18)
        span 
            color: #ffffff
            font-size: 25px
            font-weight: 600
            line-height: 25px  
    &__name
        width: 210px
        font-size: 22px
        font-weight: 500
        line-height: 30px
    &__text
        width: 250px
        margin-top: 5px
        font-size: 16px
        font-weight: 400
        line-height: 26px
        letter-spacing: 0.48px