body
    background-color: #ffffff
    font-family: 'Gotham Pro'
    font-weight: 300
    color: #1b1a1a
    font-size: 16px
    line-height: 23px
    font-weight: 400
    letter-spacing: 0.48px
    overflow-x: hidden
.body-hide
    overflow: hidden
*
    box-sizing: border-box
h1
    font-family: 'Futura PT Demi'
    font-size: 43px
    font-weight: 400
    line-height: 50px
    letter-spacing: -0.21px
h2 
    font-family: 'Futura PT Demi'
    font-size: 43px
    font-weight: 400
    line-height: 50px
    letter-spacing: -0.21px
.wrap
    width: 100%
    overflow: hidden 
.btn
    // overflow: hidden
    position: relative
    display: flex
    align-items: center
    justify-content: center
    height: 75px
    box-shadow: 0 5px 0 #eeae23, 0 5px 21px rgba(207, 155, 42, 0.31)
    background-image: linear-gradient(1deg, #fcb929 0%, #fcb929 13%, #fbe69d 100%)
    z-index: 1
    border-radius: 42px
    border: none
    text-decoration: none
    text-align: center
    text-shadow: 0 1px 4px rgba(172, 139, 47, 0.2)
    color: #3b2f29
    font-size: 11px
    line-height: 20px
    font-weight: 700
    letter-spacing: 0.88px
    text-transform: uppercase
    cursor: pointer
    transition: all ease 0.2s
    
    &:hover
        transform: scale(1.03,1.03)
        // box-shadow: 0 0 0 #ddb610
    &:active
        
        transform: translateY(5px) scale(1.03,1.03)
        box-shadow: 0 0 0 #ca9e3f, 0 14px 24px rgba(235, 200, 105, 0.42)
    span 
        text-align: center
        text-shadow: 0 1px 4px rgba(172, 139, 47, 0.2)
        color: #3b2f29
        font-size: 11px
        line-height: 20px
        font-weight: 700
        letter-spacing: 0.88px
        text-transform: uppercase
    &_star
        padding-right: 50px
        &::after
            position: absolute
            content: ''
            display: block
            top: 15px
            right: 23px
            width: 45px
            height: 45px
            border-radius: 50%
            box-shadow: -2px 2px 3px rgba(204, 208, 216, 0.41)
            background: url('../img/star.png') no-repeat 50% 50%
            background-color: #ffffff
            z-index: 10
    &_comp
        span 
            width: 160px
        &::after
            position: absolute
            content: ''
            display: block
            width: 97px
            height: 88px
            top: -20px
            right: -55px
            background: url('../img/comp.png') no-repeat 50% 50%
            z-index: 10
    &_ask
        span 
           margin-right: 20px
        &::after
            display: flex
            align-items: center
            justify-content: center
            position: absolute
            content: '?'
            color: #fbc850
            font-size: 33px
            font-weight: 700
            line-height: 30px
            letter-spacing: -0.17px
            width: 45px
            height: 45px
            top: 15px
            right: 23px
            box-shadow: -2px 2px 3px rgba(204, 208, 216, 0.41)
            background-color: #ffffff
            border-radius: 50%
            z-index: 10

@media (max-width: 1023px)
    h2 
        font-size: 36px
        line-height: 42px !important
    h3 
        font-size: 22px
        line-height: 27px !important

@media (max-width: 767px)
    h2 
        font-size: 22px
        line-height: 35px !important
    h3 
        font-size: 18px
        line-height: 27px !important
        
    .btn
        height: 75px
        font-size: 14px
        line-height: 14px
        span
            font-size: 14px
            line-height: 14px