section.about
    .container
        .about__inner
            .about__founder
                .about__founder-img
                    img(src=require('../../img/founder-1.png'), alt="Анна Голова")
                .about__founder-info
                    .about__founder-name Анна Голова
                    .about__founder-text Основатель проекта «Академия персональных  турагентов» 
            h2.about__title Ты любишь путешествовать и мечтаешь превратить хобби в стабильный доход?
            .about__subtitle Но не знаешь с чего начать?
            .about__quote 
                p В туризме, как и в любой другой нише, много подводный камней и своих секретов. 
                p Обучение помогает избежать ошибок и выйти на стабильный доход уже в первые месяцы работы. 
                p Да, придется много учиться и работать. Но поверь, оно того стоит...
            .about__buttons
                a(href="#popup-form").btn.btn_comp.about__btn 
                    span записаться на бесплатный вебинар
                .about__desc В течение 5 минут ты получишь приглашение на вебинар
                    


