section.advantage
    .container
        .advantage__inner
            h2.advantage__title Я научу тебя всем тонкостям в сфере туризма и помогу монетизировать полученные знания
            .advantage__subtitle В любое время ты можешь рассчитывать на мою поддержку и получить ответ на свой вопрос
            .advantage__items
            
                .advantage__item
                    .advantage__img
                        img(src="#", alt="Турагент с 9 летним стажем")
                    .advantage__text Турагент с 9 летним стажем

                .advantage__item
                    .advantage__img
                        img(src="#", alt="Обучила более 500 человек")
                    .advantage__text Обучила более 500 человек

                .advantage__item
                    .advantage__img
                        img(src="#", alt="250+ отзывов в  соц.сетях")
                    .advantage__text 250+ отзывов в  соц.сетях

                .advantage__item
                    .advantage__img
                        img(src="#", alt="1500 + довольных туристов")
                    .advantage__text 1500 + довольных туристов

            a(href="#").btn.btn_comp.about__btn 
                span записаться на бесплатный вебинар
            .about__desc В течение 5 минут ты получишь приглашение на вебинар

            .advantage__founder.founder
                .founder__img
                    img(src="#", alt="Анна Голова")
                .founder__info
                    .founder__name Анна Голова
                    .founder__text Основатель проекта «Академия персональных турагентов» 

            .advantage__academy