section.advantage
    .container
        .advantage__inner
            h2.advantage__title Я научу тебя всем тонкостям в сфере туризма и помогу монетизировать полученные знания
            .advantage__subtitle В любое время ты можешь рассчитывать на мою поддержку и получить ответ на свой вопрос
            .advantage__items
            
                .advantage__item
                    .advantage__img
                        img(src=require('../../img/advantage-1.png'), alt="Турагент с 9 летним стажем")
                    .advantage__text Турагент с 9 летним стажем

                .advantage__item
                    .advantage__img
                        img(src=require('../../img/advantage-2.png'), alt="Обучила более 500 человек")
                    .advantage__text Обучила более 500 человек

                .advantage__item
                    .advantage__img
                        img(src=require('../../img/advantage-3.png'), alt="250+ отзывов в  соц.сетях")
                    .advantage__text 250+ отзывов в  соц.сетях

                .advantage__item
                    .advantage__img.advantage__img_4
                        img(src=require('../../img/advantage-4.png'), alt="1500 + довольных туристов")
                    .advantage__text 1500 + довольных туристов
            .advantage__buttons
                a(href="#popup-form").btn.btn_comp.advantage__btn 
                    span записаться на бесплатный вебинар
                .advantage__desc В течение 5 минут ты получишь приглашение на вебинар

            .advantage__founder
                .advantage__founder-img
                .advantage__founder-info
                    .advantage__founder-name Анна Голова
                    .advantage__founder-text Основатель проекта «Академия персональных турагентов» 

    .advantage__academy