section.banner#banner
    .container
        .banner__inner
            h1.banner__title Научись зарабатывать на туризме
                |
                |
                span.banner__span 
                    span.banner__span-mobile от 35 000 
                    span рублей 
                |
                | в месяц из любой точки мира уже через 5 недель
            .banner__subtitle Получи первый бесплатный ведеоурок уже сейчас и узнай как зарабатывать на туризме, без ИП и вложений
            a(href="#popup-form").btn.btn_star.banner__btn
                span Получить бесплатный урок
            .banner__desc В течение 5 минут ты получишь доступ к перому видеоуроку
            .banner__woman