section.faq#faq
    .faq__img
    .container
        .faq__inner
            h2.faq__title Отвечаем на популярные вопросы
            .faq__items
            
                .faq__col
                    .faq__item.wow.fadeIn.slow(data-wow-offset='50')
                        
                        .faq__head
                            .faq__ask Где и как проходит обучение?
                            .faq__button.faq__button_active
                        .faq__body.faq__body_active
                            .faq__question Вебинары и уроки, а также дополнительный материал остается в записи и будет выложен в личном кабинете. Записи живых вебинаров будут доступны в течение 2х месяцев после прохождения курса.

                    .faq__item.wow.fadeIn.slow(data-wow-offset='50')
                        
                        .faq__head
                            .faq__ask Что делать, если я не могу присутствовать на вебинаре online?
                            .faq__button
                        .faq__body
                            .faq__question Вебинары и уроки, а также дополнительный материал остается в записи и будет выложен в личном кабинете. Записи живых вебинаров будут доступны в течение 2х месяцев после прохождения курса.
                
                    .faq__item.wow.fadeIn.slow(data-wow-offset='50')
                        
                        .faq__head
                            .faq__ask Где и как проходит обучение?
                            .faq__button
                        .faq__body
                            .faq__question Вебинары и уроки, а также дополнительный материал остается в записи и будет выложен в личном кабинете. Записи живых вебинаров будут доступны в течение 2х месяцев после прохождения курса.

                    .faq__item.wow.fadeIn.slow(data-wow-offset='50')
                        
                        .faq__head
                            .faq__ask Что делать, если я не могу присутствовать на вебинаре online?
                            .faq__button
                        .faq__body
                            .faq__question Вебинары и уроки, а также дополнительный материал остается в записи и будет выложен в личном кабинете. Записи живых вебинаров будут доступны в течение 2х месяцев после прохождения курса.

                .faq__col
                    .faq__item.wow.fadeIn.slow(data-wow-offset='50')
                        
                        .faq__head
                            .faq__ask Где и как проходит обучение?
                            .faq__button
                        .faq__body
                            .faq__question Вебинары и уроки, а также дополнительный материал остается в записи и будет выложен в личном кабинете. Записи живых вебинаров будут доступны в течение 2х месяцев после прохождения курса.

                    .faq__item.wow.fadeIn.slow(data-wow-offset='50')
                        
                        .faq__head
                            .faq__ask Что делать, если я не могу присутствовать на вебинаре online?
                            .faq__button
                        .faq__body
                            .faq__question Вебинары и уроки, а также дополнительный материал остается в записи и будет выложен в личном кабинете. Записи живых вебинаров будут доступны в течение 2х месяцев после прохождения курса.
                
                    .faq__item.wow.fadeIn.slow(data-wow-offset='50')
                        
                        .faq__head
                            .faq__ask Где и как проходит обучение?
                            .faq__button
                        .faq__body
                            .faq__question Вебинары и уроки, а также дополнительный материал остается в записи и будет выложен в личном кабинете. Записи живых вебинаров будут доступны в течение 2х месяцев после прохождения курса.

                    .faq__item.wow.fadeIn.slow(data-wow-offset='50')
                        
                        .faq__head
                            .faq__ask Что делать, если я не могу присутствовать на вебинаре online?
                            .faq__button
                        .faq__body
                            .faq__question Вебинары и уроки, а также дополнительный материал остается в записи и будет выложен в личном кабинете. Записи живых вебинаров будут доступны в течение 2х месяцев после прохождения курса.

            h2.faq__title У тебя остались вопросы?
            .faq__subtitle Не стестяйся, задай их нам!
            a(href="#popup-form").btn.btn_ask.faq__btn 
                span Задать вопрос