footer.footer
    .container
        .footer__inner
            .footer__logo
                img(src=require('../../img/logo.png'), alt="Академия персональных турагентов")
                span Академия персональных турагентов
            a(href="#popup-form").footer__call 
                .footer__icon
                span Позвоните мне
            .footer__phone
                .footer__number 8 (800) 978-85-85
                a(href="#") Телефон
                a(href="#") WhatsApp
                a(href="#") Telegram
            .footer__entity ИП Голов А.Л. ИНН 525909785640
            .footer__right &copy; 2018 Все права защищены
            .footer__soc
                span Наши соц. сети
                a(href="#").footer__soc-link.footer__soc-link_inst
                a(href="#").footer__soc-link.footer__soc-link_vk
            a(href="#").footer__polit.conf Политика конфиденциальности
            .footer__inst 
                a(href="#").footer__link Открыть instagram