footer.footer
    .container
        .footer__inner
            .footer__logo
                img(src="#", alt="Академия персональных турагентов")
                span Академия персональных турагентов
            a(href="#").footer__call 
                span Позвоните мне
            .footer__phone
                .footer__number
                span Телефон
                span WhatsApp
                span Telegram
            .footer__entity ИП Голов А.Л. ИНН 525909785640
            .footer__polit Политика конфиденциальности
            .footer__inst 
                a(href="#").footer__link Открыть instagram