section.format
    .container
        .format__inner
            h2.format__title Удобный формат обучения
            .format__subtitle Программа курса построена по принципу: 1 урок = 1 внедрение
            .format__items
                .format__item
                    .format__img
                        img(src="#", alt="Изучаете уроки ")
                    .format__title Изучаете уроки 
                    .format__text в личном кабинете в любое удобное время
                .format__item
                    .format__img
                        img(src="#", alt="Получаете шаблоны")
                    .format__title Получаете 
                    .format__text шаблоны, видеоинструкции и чек-листы 
                .format__item
                    .format__img
                        img(src="#", alt="Выполняете домашние задание")
                    .format__title Выполняете домашние задание, 
                    .format__text получаете обратную связь
                .format__item
                    .format__img
                        img(src="#", alt="Практикуетесь")
                    .format__title Практикуетесь, 
                    .format__text подбирая туры для реальных туристов
            
            a(href="#").btn.btn_comp.format__btn 
                span Получить бесплатный урок
            .format__desc В течение 5 минут ты получишь доступ к перому видеоуроку