section.format
    .container
        .format__inner
            h2.format__title Удобный формат обучения
            .format__subtitle Программа курса построена по принципу: 1 урок = 1 внедрение
            .format__items
                .format__item.format__item_1
                    .format__img
                        img(src=require('../../img/format-1.png'), alt="Изучаете уроки ")
                    .format__text
                        span.format__name Изучаете уроки 
                        |
                        | в личном кабинете в любое удобное время
                .format__item.format__item_2
                    .format__img
                        img(src=require('../../img/format-2.png'), alt="Получаете шаблоны")
                    .format__text
                        span.format__name Получаете 
                        |
                        | шаблоны, видеоинструкции и чек-листы 
                .format__item.format__item_3
                    .format__img
                        img(src=require('../../img/format-3.png'), alt="Выполняете домашние задание")
                    .format__text
                        span.format__name Выполняете домашние задание, 
                        |
                        | получаете обратную связь
                .format__item.format__item_4
                    .format__img
                        img(src=require('../../img/format-4.png'), alt="Практикуетесь")
                    .format__text
                        span.format__name Практикуетесь, 
                        |
                        | подбирая туры для реальных туристов
            .format__buttons
                a(href="#popup-form").btn.btn_star.format__btn 
                    span Получить бесплатный урок
                .format__desc В течение 5 минут ты получишь доступ к перому видеоуроку