header.header
    .container
        .header__inner
            .header__logo
                img(src="#", alt="Академия персональных турагентов")
                span Академия персональных турагентов
            .header__burger
            nav.header__nav.nav
                .nav__close
                .header__logo.header__logo_nav
                ul.nav__items
                    li.hav__item
                        a(href="#").nav__link Обо мне
                    li.hav__item
                        a(href="#").nav__link Обо мне
                    li.hav__item
                        a(href="#").nav__link Обо мне
                    li.hav__item
                        a(href="#").nav__link Обо мне
                    li.hav__item
                        a(href="#").nav__link Обо мне
                .nav__address Г.Калининград Советский пр-кт, д 59
                a(href="tel:+78005553535").nav__phone +78005553535
                a(href="#").nav__cons Получить консультацию

        