header.header
    .container
        .header__inner
            .header__logo
                img(src=require('../../img/logo.png'), alt="Академия персональных турагентов")
                span Академия персональных турагентов
            .header__burger
                span
                span
                span
            nav.nav.header__nav
                .nav__close
                .header__logo
                    img(src=require('../../img/logo.png'), alt="Академия персональных турагентов")
                    span Академия персональных турагентов
                ul.nav__items
                    li.nav__item
                        a(href="#about").nav__link Обо мне
                    li.nav__item
                        a(href="#teach").nav__link Обучение
                    li.nav__item
                        a(href="#type").nav__link Для кого
                    li.nav__item
                        a(href="#advantage").nav__link Достижения
                    li.nav__item
                        a(href="#skills").nav__link Навыки
                    li.nav__item
                        a(href="#review").nav__link Отзывы
                    li.nav__item
                        a(href="#format").nav__link Формат обучения
                    li.nav__item
                        a(href="#tariff").nav__link Тарифы
                    li.nav__item
                        a(href="#faq").nav__link FAQ
                    li.nav__item
                        a(href="#feedback").nav__link Записаться
                .nav__address Г.Калининград Советский пр-кт, д 59
                a(href="tel:+78009788585").nav__phone 8 (800) 978-85-85
                a(href="#").nav__cons Получить консультацию

        