header.header
    .container
        .header__inner
            .header__logo
                img(src=require('../../img/logo.png'), alt="Академия персональных турагентов")
                span Академия персональных турагентов
            .header__burger
                span
                span
                span
            nav.nav.header__nav
                .nav__close
                .header__logo
                    img(src=require('../../img/logo.png'), alt="Академия персональных турагентов")
                    span Академия персональных турагентов
                ul.nav__items
                    li.nav__item
                        a(href="#").nav__link Обо мне
                    li.nav__item
                        a(href="#").nav__link Обо мне
                    li.nav__item
                        a(href="#").nav__link Обо мне
                    li.nav__item
                        a(href="#").nav__link Обо мне
                    li.nav__item
                        a(href="#").nav__link Обо мне
                .nav__address Г.Калининград Советский пр-кт, д 59
                a(href="tel:+78009788585").nav__phone 8 (800) 978-85-85
                a(href="#").nav__cons Получить консультацию

        