section.tariff
    .container
        .tariff__inner
            .tariff__academy
            h2.tariff__title Выбери подходящий тариф
            .tariff__items
            
                .tariff__item
                    .tariff__name Пакет «Бизнес»
                    ul.tariff__options
                        li 10 недель обучения
                        li Проверка домашних заданий
                        li Тестирование
                        li 44 урока
                        li 11 вебинаров 
                        li Работа с реальными заявками туристов
                        li Доступ к закрытому чату Бизнес
                        li Сертификат
                    a(href="#").tariff__more Подробнее о программе
                    .tariff__price.tariff__price_old 32 990 руб.
                    .tariff__price 28 900 руб.
                    a(href="#").btn.tariff__btn
                        span Выбрать пакет
                    .tariff__left Осталось  
                        | 
                        span 7  
                        |
                        |пакетов по этой цене

                .tariff__item
                    .tariff__name Пакет «Стандарт»
                    ul.tariff__options
                        li 5 недель обучения
                        li Проверка домашних заданий
                        li Тестирование
                        li 22 урока
                        li 6 вебинаров 
                        li Группа для отработки практики
                        li Доступ к закрытому чату
                        li Сертификат
                    a(href="#").tariff__more Подробнее о программе
                    .tariff__price.tariff__price_old 16 990 руб.
                    .tariff__price 13 900 руб.
                    a(href="#").btn.tariff__btn
                        span Выбрать пакет
                    .tariff__left Осталось  
                        | 
                        span 15 
                        |
                        |пакетов по этой цене

                .tariff__item
                    .tariff__name Пакет «Базовый»
                    ul.tariff__options
                        li 3 недель обучения
                        li Поддержка куратора
                        li 18 уроков
                    a(href="#").tariff__more Подробнее о программе
                    .tariff__price.tariff__price_old 8 990 руб.
                    .tariff__price 6 900 руб.
                    a(href="#").btn.tariff__btn
                        span Выбрать пакет
                    .tariff__left Осталось  
                        | 
                        span 24 
                        |
                        |пакетов по этой цене
