section.skills
    .container
        .skills__inner
            h2.skills__title
            .skills__items
                .skills__item.skills__item_1
                    .skills__img
                        img(src="#", alt="Бронировать")
                    .skills__info
                        .skills__title Бронировать
                        .skills__text авиабилеты и отели с выгодой до 40%
                .skills__item.skills__item_2
                    .skills__img
                        img(src="#", alt="Страховать клиентов ")
                    .skills__info
                        .skills__title Страховать клиентов 
                        .skills__text всего за 5 минут, не выходя из дома
                .skills__item.skills__item_3
                    .skills__img
                        img(src="#", alt="Работать на себя")
                    .skills__info
                        .skills__title Работать на себя,
                        .skills__text не имея ИП
                .skills__item.skills__item_4
                    .skills__img
                        img(src="#", alt="Пользоваться")
                    .skills__info
                        .skills__title Пользоваться
                        .skills__text профессиональными сервисами
                .skills__item.skills__item_5
                    .skills__img
                        img(src="#", alt="Упаковать соц.сети")
                    .skills__info
                        .skills__title Упаковать соц.сети
                        .skills__text чтобы они продавали
                .skills__item.skills__item_6
                    .skills__img
                        img(src="#", alt="Составлять")
                    .skills__info
                        .skills__title Составлять
                        .skills__text авторские туры с прибылью 20-30%
                .skills__item.skills__item_7
                    .skills__img
                        img(src="#", alt="Зарабатывать")
                    .skills__info
                        .skills__title Зарабатывать 
                        .skills__text на подборе туров до 10% от общей суммы
                
                a(href="#").btn.btn_comp.skills__btn 
                    span записаться на бесплатный вебинар
                .skills__desc В течение 5 минут ты получишь приглашение на вебинар
