section.teach
    .container      
        .teach__inner
            h2.teach__title Твоё обучение будет комфортным и эффективным
            .teach__subtitle Мы создали собственную обучающую платформу, которая поможет тебе усваивать материал поэтапно
            .teach__items
            
                .teach__item
                    .teach__img
                        img(src="#", alt="Бессрочный доступ ко всем материалам с обновлением")
                    .teach__info
                        .teach__title Бессрочный доступ
                        .teach__text ко всем материалам с обновлением

                .teach__item
                    .teach__img
                        img(src="#", alt="Пратикуетесь и зарабатываете на реальных заявках")
                    .teach__info
                        .teach__title Пратикуетесь и зарабатываете
                        .teach__text на реальных заявках

                .teach__item
                    .teach__img
                        img(src="#", alt="Сама выбираешь, когда тебе удобно учиться и работать")
                    .teach__info
                        .teach__title Сама выбираешь,
                        .teach__text когда тебе удобно учиться и работать

                .teach__item
                    .teach__img
                        img(src="#", alt="Выдаем сертификат об окончании курса")
                    .teach__info
                        .teach__title Выдаем сертификат
                        .teach__text об окончании курса

                .teach__item
                    .teach__img
                        img(src="#", alt="Вернем всю сумму в течение недели, если курс тебе не подойдет")
                    .teach__info
                        .teach__title Вернем всю сумму
                        .teach__text в течение недели, если курс тебе не подойдет

                .teach__item
                    .teach__img
                        img(src="#", alt="Сообщество единомышленников, общаемся и развиваемся")
                    .teach__info
                        .teach__title Сообщество единомышленников,
                        .teach__text общаемся и развиваемся

            a(href="#").btn.btn_star.teach__btn
                span Получить бесплатный урок
            .teach__desc В течение 5 минут ты получишь доступ к перому видеоуроку
            .teach__lightning
            .teach__prize