section.type
    .container
        .type__inner
            h2.type__title
            .type__items
            
                .type__item
                    .type__img
                        img(src="#", alt="Любители путешествий")
                    .type__info
                        .type__number
                            span 1
                        .type__title Любители путешествий
                        .type__text Научитесь экономить на путешествиях для себя и клиентов до 40%

                .type__item
                    .type__img
                        img(src="#", alt="Молодые мамы и домохозяйки")
                    .type__info
                        .type__number
                            span 2
                        .type__title Молодые мамы и домохозяйки
                        .type__text Сможете зарабатывать и развиваться в туризме, имея свободный график

                .type__item
                    .type__img
                        img(src="#", alt="Начинающие предприниматели")
                    .type__info
                        .type__number
                            span 3
                        .type__title Начинающие предприниматели
                        .type__text Получите знания, которые помогут построить упешную карьеру в туризме