
extends _base/_layout
block content
    .wrap
        include components/_header

        include components/_banner
        include components/_about
        include components/_teach
        include components/_type
        include components/_advantage
        include components/_skills
        include components/_review
        include components/_format
        include components/_plans
        include components/_faq
        include components/_feedback
        
        include components/_footer
